.quizz-creation section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 69px;

    width: 100%;
}

/* To switch between sections */
.quizz-creation section.hidden {
    display: none;
}

.quizz-creation section h2 {
    margin-top: 40px;
    margin-bottom: 50px;
}

/* Section and entry title */
.quizz-creation section h2,
.quizz-creation section h3 {
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}

.quizz-creation section .list {
    width: 100%;
    /* max-width of input + 2 * this list padding (564 + 2 * 18)px */
    max-width: 600px;
    
    padding: 0 18px;
}

/* Entry to group fields */
.quizz-creation section .entry {
    display: flex;
    flex-direction: column;
    
    width: 100%;    
}

.quizz-creation .basic-info .entry {
    gap: 9px;
    
    margin-bottom: 53px;
}

.quizz-creation .questions .entry {
    gap: 14px;
    
    margin-bottom: 32px;
}

.quizz-creation .levels .entry {
    gap: 14px;

    margin-bottom: 70px;
}

.quizz-creation article {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;

    /* Overwriting external CSS */
    padding: 0;
    /* Separating articles within quizz creation (questions, levels) */
    margin-bottom: 70px;
}

.quizz-creation article .collapsed {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.quizz-creation article .collapsed.hidden {
    display: none;
}

.quizz-creation article .editing {
    width: 100%;
}

.quizz-creation article .editing.hidden {
    display: none;
}

.quizz-creation article .collapsed .fa-edit {
    font-size: 20px;
}

.quizz-creation section input,
.quizz-creation section textarea {
    width: 100%;
    max-width: 564px;
    border-radius: 5px;
    
    padding: 0 14px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 19px;
    
    border: 1px solid #d1d1d1;
    background-color: white;
}

.quizz-creation section input {
    height: 46px;
}

.quizz-creation section textarea {
    padding: 10px;
    height: 177px;
}

.quizz-creation button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    /* Width relative to viewport width */
    width: 85vw;
    max-width: 370px;
    height: 54px;
    border-radius: 15px;

    font-weight: normal;
    font-style: normal;
    font-size: 18px;

    color: #fff5f4;
    background-color: #ec362d;

    cursor: pointer;
}

.quizz-creation .created-quizz {
    width: 100%;
    /* max-width of image-div + 2 * this padding (500 + 2 * 18)px  */
    max-width: 536px;
    
    padding: 0 18px;
    margin-bottom: 70px;
}

.quizz-creation .created-quizz .image-div {
    position: relative;

    width: 100%;
    max-width: 500px;

    cursor: pointer;
}

.quizz-creation .created-quizz img {
    width: 100%;

    border-radius: 5px;
}

.quizz-creation .created-quizz .gradient-cover {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    border-radius: 5px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
    background-size: cover;
}

.quizz-creation .created-quizz .title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    
    max-width: calc(100% - 2 * 10px);
    
    overflow-wrap: break-word;
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
    
    color: white;
}


.quizz-creation .go-to-home {
    margin-bottom: 30px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 21px;

    color: #818181;

    cursor: pointer;
}
