@media (min-width: 1100px) {    
    /* Basic info title */
    .quizz-creation .basic-info h2 {
        margin-top: 70px;
        margin-bottom: 50px;
    
        font-size: 23px;
    }

    /* .info-entry to group info fields */
    .quizz-creation .basic-info .info-entry {
        margin-bottom: 109px;
    }

    .quizz-creation button {
        font-size: 21px;
    }
}
