.quizz-creation .basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 69px;

    width: 100%;
}

/* Basic info title */
.quizz-creation .basic-info h2 {
    margin-top: 40px;
    margin-bottom: 50px;

    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}


/* .info-entry to group info fields */
.quizz-creation .basic-info .info-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;

    margin-bottom: 53px;
    padding: 0 18px;

    width: 100%;
}

.quizz-creation .basic-info input {
    width: 100%;
    max-width: 564px;
    height: 46px;
    border-radius: 5px;

    padding: 0 14px;

    border: 1px solid #d1d1d1;
    background-color: white;
}

.quizz-creation button {
    display: flex;
    justify-content: center;
    align-items: center;

    /* Width relative to viewport width */
    width: 85vw;
    max-width: 370px;
    height: 54px;
    border-radius: 15px;

    font-weight: normal;
    font-style: normal;
    font-size: 18px;

    color: #fff5f4;
    background-color: #ec362d;
}
